/* Primary colors */
$primary-color-one: #102f3f;
$primary-color-two: #335566;
$primary-color-three: #8fafbf;

/* Secondary soft colors */
$secondary-soft-color-one: #e5f7ff;

/* Soft neutral colors */
$secondary-color-0: #ffffff;
$secondary-color-50: #f0f1f2;
$secondary-color-100: #e0e3e5;
$secondary-color-200: #c6cacc;
$secondary-color-400: #919699;
$secondary-color-700: #464a4c;

/* Sizing */
$margin-xs: 0.5rem;
$margin-s: 1rem;
$margin-m: 2rem;
$margin-l: 5rem;
